{% extends 'partials/base.html.twig' %}


{% block content %}

{% include 'partials/new_paste_button.html.twig' %}

<table>
    <thead>
        <tr>
            <th data-field="paste_title">Title</th>
            <th data-field="paste_author">Author</th>
            <th data-field="paste_created">Created</th>
        </tr>
    </thead>    
    <tbody>
        {% for paste in pastes %}
            <tr>
                <td>
                    <a href="{{ config.plugins.pastebin.route_view ~ "/" ~ paste.uuid }}">{{ paste.title }}</a>
                </td>
                <td>{{ paste.author }}</td>
                <td>{{ paste.created }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}